:root{
    --main:#071739;
    --secondary:#4B6382;
    --minor1:#A4b5c4;
    --minor2:#CDD5DB;
    --minor3:#A3866B;
    --minor:#E3C39D;

}
.cinzel-font {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}



*{
    margin: 0;
    padding: 0;
    
    font-family: "Cinzel";
}



.navbar {
 display:flex;
 justify-content: space-between;
 width: 80%;
  margin: 10px 5px;
 
}
.logo{
    color: var(--minor2);
}

.nav-links{
    display:flex;
    
 
}

.nav-links li{
    list-style: none;
    padding: 14px 14px;
   
}
.nav-links a{
    text-decoration: none;
}
section{
    height: 90vh;
    background-color: #8bb6e7;
    border:1px solid red;
    
}
.first-section{
    background-color: rgb(2, 66, 29);
    display: grid;
    justify-content: center;
   align-items: center;
    color:aliceblue;
    text-align: center;
}
.main-text{
    font-family:;
}
h3{
    font-family: "Cinzel";
}
.shop{
    display: grid;
    grid-auto-flow: column;
}
.shop img{
    width: 500px;
    height: auto;
    display:flex;
}
.about-us
{
    display: flex;
    justify-content: center;
    background-color: rgb(94, 255, 0);
    color: hsl(0, 96%, 45%);
    border: 1px solid white;
}
.card{
    width:300px;
    height: 200px;
    border: 2px solid black;
}
.testimo{
    background-color: #A3866B;
    display: flex;
    justify-content:center;
    width: 80%;
 
}
.Testimonials{
    background: #A3866B;
}
.contacts{
    display: flex;
    flex-direction: row;
    width: 100%;
}
